<div class="container">
    <app-title title="Editar Fornecedor"></app-title>

    <div class="row">
        <div class="col-12">
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
              <div class="form-group ">
                  <label for="nome">Nome:</label>
                  <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Nome do fornecedor">
              </div>

              <div class="form-group">
                  <label for="cnpj">CNPJ:</label>
                  <input formControlName="cnpj" type="text" class="form-control" id="cnpj" placeholder="CNPJ fornecedor">
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="telefone">Telefone:</label>
                      <input formControlName="telefone" type="text" class="form-control" id="telefone" placeholder="Telefone">
                  </div>

                  <div class="form-group col-md-6">
                      <label for="seguimento">Seguimento:</label>
                      <input formControlName="seguimento" type="text" class="form-control" id="seguimento" placeholder="Qual seguimento da empresa?">
                  </div>
              </div>


              <div class="row text-right mt-5">
                <div class="col-12">
                    <button type="button" routerLink="/fornecedores" class="btn btn-voltar">Voltar</button>
                    <button type="submit" class="btn btn-pet">Salvar alterações</button>
                </div>
              </div>
          </form>

        </div>
    </div>
  </div>



