<div class="container">
    <app-title title="Editar Produto"></app-title>

    <div class="row">
        <div class="col-12">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="form-group ">
                    <label for="nome">Nome:</label>
                    <input [(ngModel)]="product.name" formControlName="name" type="text" class="form-control" id="nome" placeholder="Nome do produto">
                </div>

                <div class="form-group">
                    <label for="quantidade">Quantidade:</label>
                    <input [(ngModel)]="product.quantity" formControlName="quantity" type="text" class="form-control" id="quantidade" placeholder="Quantidades de produtos em estoque">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="custoCompra">Valor de compra:</label>
                        <input [(ngModel)]="product.vals" formControlName="vals" type="text" class="form-control" id="custoCompra" placeholder="Quanto pagou pelo produto">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="custoVenda">Valor de venda:</label>
                        <input [(ngModel)]="product.price" formControlName="price" type="text" class="form-control" id="custoVenda" placeholder="Por quanto pretende vender o produto?">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="nome">Descrição:</label>
                    <textarea [(ngModel)]="product.description" formControlName="description" rows="3" type="text" class="form-control" id="nome" placeholder=""></textarea>
                </div>


                <div class="row text-right mt-5">
                  <div class="col-12">
                      <button type="button" routerLink="/produtos" class="btn btn-voltar">Voltar</button>
                      <button type="submit" class="btn btn-pet">Atualizar Produto</button>
                  </div>
                </div>
            </form>

        </div>
    </div>
  </div>



