<div class="logo">
  <img src="assets/img/logo-01.svg" alt="Logo Petpos" routerLink="/">
</div>
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <span class="bar"></span>
      <span class="bar mt-2"></span>
      <span class="bar mt-3"></span>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="produtos" routerLinkActive="active">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="fornecedores" routerLinkActive="active">Fornecedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="clientes" routerLinkActive="active">Clientes</a>
      </li>
    </ul>
  </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="page-footer font-small blue" *ngIf="router.url != '/'">
  Copyright © 2019 . Todos os direitos reservados.
</footer>
