<div class="container">
    <app-title title="Clientes" link="novocliente" novo="true"></app-title>
    <div *ngIf="clients$ | async as clientes; else loadingError">
      <div class="row mb-4">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Buscar produto" [(ngModel)]="searchText">
          </div>
        </div>
        <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>CPF</th>
                          <th>Telefone</th>
                          <th>Endereço</th>
                          <th class="text-center">Editar</th>
                          <th class="text-center">Deletar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let item of clientes | tableFilter: {nome: searchText, quantidade:searchText,  custoCompra: searchText,  custoVenda: searchText}; let i=index;">
                          <td>{{ item.name }}</td>
                          <td>{{ item.cpf }}</td>
                          <td>{{ item.telephone }}</td>
                          <td>{{ item.address }}</td>
                          <td class="icon text-center"><a [routerLink]="item._id"><img src="assets/img/icons/edit-01.svg"></a></td>
                          <td class="icon text-center"><a (click)="deleteModal(item.id, item.name)"><img src="assets/img/icons/trash-01.svg"></a></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
        </div>
    </div>

</div>

  <!-- Modal Delete -->
  <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDeleteLabel">Deseja apagar o item {{ deleteItemNome }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-voltar" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-pet" (click)="delete()">Apagar</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading" >
          <h4>Erro ao carregar a lista.</h4>
      </div>
      <ng-template #loading>
          <div class="loader" id="loader-1"></div>
      </ng-template>
    </ng-template>
