$yellow: #F4A522;
$blue: #9DDBF0;
$txt: #606060;


.table {
  thead {
    background-color: $yellow;
    color: white;
  }
}
.btn-pet {
  background-color: $yellow;
  border-radius: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.btn-voltar {
  background-color: transparent;
  border-radius: 0;
  color: $yellow;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid $yellow;
  margin-right: 15px;
}

.modal-header {
  background-color: $yellow;
  color: white;
}

.container {
  padding-top: 50px;
  padding-bottom: 10vh;
}
.navbar-toggler-icon {
  padding-right: 30px;
}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}


#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: $yellow;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
